*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    
  }
  
  img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    object-position: bottom;
  }

  body{
    /*background: url(../img/bg-img.png) no-repeat center;*/
    background-size: cover;
    min-height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  }
  
  body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(66, 64, 64, 0.2);*/
  }
  
   /* ----- BACKGROUND VIDEO ----- */
  #myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  /* ----- HEADER -----*/
  
  header{
    background-color: rgba(98,114,123, 0.8);
    position: fixed;
    top: 0;
    width: 100%;  
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    font-size: 1.7em;
    letter-spacing: 1.5px;
    z-index:100;
  }
  
  header section{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
  }
  
  header ul{
    list-style: none;
    display: flex;
    text-transform: uppercase;
  }
  
  header li:first-child{
    padding-right: 16px;
    margin-right: 16px;
    border-right: 2px solid;
  }
  
  header section a{
    cursor: pointer;
    text-decoration: none;
  }
  
  header li a{
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  
  header li a:hover{
    color:#fff;
  }
  
  @media screen and (max-width: 600px){
    header{
      font-size: 1.1em;
    }
  }
  
  @media screen and (max-width: 430px){
    header{
      font-size: 0.9em;
    }
  }
  
  
  /* Parte centrale - MAIN */
  
  .main{
    position: relative;
    text-align: center;
    height: 100%;
    margin-top: 80px;
    width: 90%;
    justify-content: center;
  }
  
  .submain{
    text-transform: uppercase;
    position:relative;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(154, 157, 158, 0.8);
    border: 2px solid #102027;
    border-radius: 20px;
  }
  
  .spazio{
    margin: 5px auto;
    height: 0px;
    width: 200px;
  }
  
  
  .spazio_finale{
    height: 60px;
    width: 200px;
  }
  
  .title{
    color:#fff;
    font-size: 6em;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .p_title{
    display: flex;
    font-size: 3em;
  }

  .ttitle{
    margin-top: 5px;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .separator{
    margin: 20px auto;
    height: 2px;
    width: 200px;
    background-color: #102027;
  }
  
  .separator2{
    margin: 20px auto;
    height: 2px;
    width: 600px;
    background-color: #102027;
  }
  
  .message{
    font-size: 3.5em;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
    text-align: left;
  }
  
  .message2{
    font-size: 0.9em;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
  }
  
  .icone{
    position: static;
    justify-content: center;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    background-color: rgba(154, 157, 158, 0);
  }
  
  .icone a{
    text-decoration: none;
    display: flex;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50%;
    border-color: transparent;
    transition: border-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .icone a:hover{
    border-color: #b1c4cf;
  }
  
  .col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 70px;
}

  /* ----- FOOTER ----- */
  
  footer{
    position:fixed;
    bottom: 0px;
    font-size: 1.4em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 32, 39, 0.9);
  }
  
  footer a{
    text-decoration: none;
    width: 54px;
    height: 54px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    transition: border-color 0.3s;
  }
  
  footer a:hover{
    border-color: #b1c4cf;
  }