body {
  background-color: rgba(91,91,91,255);
}
.sfondo-header {
  /*background-image: url(images/sfondo-header.jpg);*/
  height: 100%;
  display: block;
  margin: auto;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}